/*
Mobile 
*/
.component {
    text-align: center;
    position: relative;
}

.brand-image {
    opacity: 0.3;
}

.content-container {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*
Tablet
*/
@media only screen and (min-width: 1024px) {

}

/*
Desktop
*/
@media only screen and (min-width: 1200px) {
    .brand-image {
        opacity: 1;
    }
    
    .content-container {
        opacity: 0;
    }
    
    .component:hover .brand-image {
        opacity: 0.3;
      }
      
    .component:hover .content-container {
        opacity: 1;
    }
}
