.portrait {
    height: 300px;
    border-radius: 50%;
    padding: 5px;
    margin-top: 4rem;
    border: 1px dashed black;
    width: 300px;
}

.brand-image {
    /*
    TODO: Math this to REM
    */
    height: 250px;
    width: 300px;
    margin: 0 auto;
}
